*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0b0f2a;
color:white;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
width:450px;
}

.box{
background:#11143a;
padding:40px;
border-radius:15px;
text-align:center;
box-shadow:0 0 20px rgba(0,255,255,0.4);
}

.hidden{
display:none;
}

input{
width:100%;
padding:10px;
margin:20px 0;
border:none;
border-radius:8px;
}

button{
display:block;
width:100%;
margin:10px 0;
padding:10px;
border:none;
border-radius:25px;
background:linear-gradient(90deg,#00e5ff,#b388ff);
color:white;
cursor:pointer;
}

button:hover{
opacity:0.8;
}

.correct{
background:green !important;
}

.wrong{
background:red !important;
}

button:disabled{
opacity:0.6;
cursor:not-allowed;
}

#nextBtn{
background:orange;
}

#count{
font-size:50px;
}